.about-block 
	h2 АО «Алтайский приборостроительный завод «Ротор»
	.about-boxes 
		.about-box
			.about-box__image 
				img(class="animation-img" src="./img/about/about-img.jpg", alt="")
			.about-box__items
				div.about-box__items-item
					div
						svg(width='64' height='64' viewbox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M17.0411 27.9817L28.7684 3.79408C29.1028 3.10452 29.8017 2.66663 30.5681 2.66663H34.2192C35.3237 2.66663 36.2192 3.56206 36.2192 4.66663V20.6118C36.2192 21.7164 37.1146 22.6118 38.2192 22.6118H57.6222C58.8637 22.6118 59.8053 23.7313 59.5926 24.9545L58.4658 31.4337M17.0411 27.9817H6C4.89543 27.9817 4 28.8771 4 29.9817V55.8995C4 57.0041 4.89543 57.8995 6 57.8995H17.0411M17.0411 27.9817V57.8995M17.0411 57.8995H52.1808C53.1532 57.8995 53.9846 57.2002 54.1512 56.2422L55.3973 49.0776M56.9315 40.2557H48M56.9315 40.2557L58.4658 31.4337M56.9315 40.2557L55.3973 49.0776M58.4658 31.4337H49.5M55.3973 49.0776H46' stroke='#375D81' stroke-width='2.4' stroke-linecap='round')
					p 60 лет<br>качества
				div.about-box__items-item
					div
						svg(width='64' height='64' viewbox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M32.7955 2.66663L9.12599 9.15142C8.7262 9.26095 8.43698 9.59367 8.40292 10.0068C8.09603 13.7287 6.85917 31.9744 11.1288 42C15.7003 52.7342 32.7955 59.3333 32.7955 59.3333M32.7955 2.66663L56.465 9.15142C56.8647 9.26095 57.154 9.59367 57.188 10.0068C57.4949 13.7286 58.7318 31.9744 54.4621 42C49.8907 52.7342 32.7955 59.3333 32.7955 59.3333M32.7955 2.66663V59.3333' stroke='#375D81' stroke-width='2.4')
					p Гарантия<br>2 года на все товары
				div.about-box__items-item
					div
						svg(width='64' height='64' viewbox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(class="fill-color" fill-rule='evenodd' clip-rule='evenodd' d='M3.86211 1.66174C2.64708 1.66174 1.66211 2.64672 1.66211 3.86174V49.6261C1.66211 50.8411 2.64708 51.8261 3.86211 51.8261H37.3261V59.0496C37.3261 60.7597 39.1917 61.8159 40.658 60.9361L44.8609 58.4143L48.4061 60.7778C49.8681 61.7525 51.8264 60.7044 51.8264 58.9473V51.8261H59.1793C60.3943 51.8261 61.3793 50.8411 61.3793 49.6261V3.86174C61.3793 2.64671 60.3943 1.66174 59.1793 1.66174H3.86211ZM37.3261 43.8779V49.4261H4.06211V4.06174H58.9793V49.4261H51.8264V44.7708C53.0673 43.239 53.8107 41.2876 53.8107 39.1626C53.8107 34.2385 49.8189 30.2466 44.8947 30.2466C39.9705 30.2466 35.9787 34.2385 35.9787 39.1626C35.9787 40.894 36.4722 42.51 37.3261 43.8779ZM39.7261 46.4286V50.6261V58.6964L43.7347 56.2912C44.4637 55.8538 45.3795 55.8756 46.0869 56.3472L49.4264 58.5736V50.6261V46.8427C48.0985 47.628 46.5492 48.0786 44.8947 48.0786C42.968 48.0786 41.1841 47.4675 39.7261 46.4286ZM49.6471 43.6206H49.4264V43.8447C48.2537 44.98 46.6558 45.6786 44.8947 45.6786C41.296 45.6786 38.3787 42.7613 38.3787 39.1626C38.3787 35.5639 41.296 32.6466 44.8947 32.6466C48.4934 32.6466 51.4107 35.5639 51.4107 39.1626C51.4107 40.8871 50.7408 42.4551 49.6471 43.6206Z' fill='#375D81')
							line(x1='19.9832' y1='12.4882' x2='43.0575' y2='12.4882' stroke='#375D81' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round')
							line(x1='14.8895' y1='22.6779' x2='48.1535' y2='22.6779' stroke='#375D81' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round')
							line(x1='14.8895' y1='30.3203' x2='29.0478' y2='30.3203' stroke='#375D81' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round')
							line(x1='14.8895' y1='37.9628' x2='29.0478' y2='37.9628' stroke='#375D81' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round')
					p Дипломы лауреата «100 лучших товаров России»
				div.about-box__items-item
					div
						svg(width='64' height='64' viewbox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M17.9683 15.3015H6C4.89543 15.3015 4 16.197 4 17.3015V57.9999C4 59.1045 4.89543 59.9999 6 59.9999H57.873C58.9776 59.9999 59.873 59.1045 59.873 57.9999V46.0317M17.9683 15.3015H31.9365H50.0952M17.9683 15.3015L40.7603 3.57989C41.6919 3.10079 42.8353 3.4217 43.3816 4.31557L50.0952 15.3015M50.0952 15.3015H57.873C58.9776 15.3015 59.873 16.197 59.873 17.3015V29.2698M59.873 29.2698V37.6507V46.0317M59.873 29.2698H47.3016C42.6729 29.2698 38.9206 33.0221 38.9206 37.6507V37.6507C38.9206 42.2794 42.6729 46.0317 47.3016 46.0317H59.873' stroke='#375D81' stroke-width='2.4')
							circle(cx='47' cy='38' r='1.8' stroke='#375D81' stroke-width='2.4')
					p Оплата при получении
		.about-box
			p.subtitle АО «Алтайский приборостроительный завод «Ротор»» — одно из ведущих промышленных предприятий России.<br><br>За более чем полувековую историю существования (год основания – 1959 г.) на&nbsp;предприятии произведено более тысячи видов специальной продукции и более трехсот видов товаров народного потребления.<br><br>К особым достоинствам предприятия стоит отнести наличие уникального современного прецизионного, электроэрозионного, координатно-револьверного пробивного, листогибочного оборудования, а также оборудования для высокоточной механической обработки, сборки, электромонтажного производства и для проведения испытаний – что позволяет достигать высокого качества готовых изделий, совершенствовать их технические и потребительские свойства.
			.about-wrapper-slider
				.about-slider.swiper-container
					.about-pictures.swiper-wrapper
						.about-pictures__substrate
						.about-pictures__img.picture-big-1.swiper-slide
							img(class="animation-img" src="./img/about/about-picture1.jpg", alt="")
						.about-pictures__img.picture-small-1.swiper-slide
							img(class="animation-img" src="./img/about/about-picture2.jpg", alt="")
						.about-pictures__img.picture-small-2.swiper-slide
							img(class="animation-img" src="./img/about/about-picture3.jpg", alt="")