.modal#modal-succsess 
    .modal__wrapper 
        button.modal__close(data-custom-close="modal-succsess")
            svg(width='26' height='26' viewbox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.33398 1.33334L13.0006 13M13.0006 13L24.6673 24.6667M13.0006 13L24.6673 1.33334M13.0006 13L1.33398 24.6667' stroke='#375D81' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
        h1 Ваша заявка<br>принята!
        p.modal__subtitle Мы свяжемся с вами в ближайшее время.
        button.button-orange(data-micromodal-close) Хорошо