extends ../layouts/default
include ../../blocks/modules/header/header
include ../../blocks/components/button/button


block variables
	- const title = "Вакансии";

block content
	+header-main('header-bg')

	main
		.vacancies.page
			include ../../blocks/components/breadcrumbs/breadcrumbs
			.page-hero
				.container
					h1 Вакансии
					.vacancies__header 
						.vacancies__subtitle
							p Наше предприятие заинтересовано в привлечении целеустремленных и инициативных профессионалов.<br><br>Вас ждут сложные, но интересные задачи, достойная заработная плата и полный спектр социальных гарантий в соответствии с трудовым законодательством Российской Федерации.<br><br>Ниже указаны все открытые на сегодняшний день вакансии. Для того чтобы принять участие в конкурсе на замещение открытой вакансии, Вам необходимо заполнить анкету кандидата
						.vacancies__contacts
							span Отдел кадров
							a(href="tel:+7 (3852) 57-94-17") +7 (3852) 57-94-17
							a(href="tel:+7 (3852) 57-94-09") +7 (3852) 57-94-09
					+button-c("Заполнить анкету")
			.vacancies-main 
				.container
					h3 Открытые вакансии
					.vacancies__items.js-vacancies
						.vacancies__item.js-accordion-item
							.vacancies__button.js-accordion-button
								p Токарь-расточник
								span Смотреть
							.vacancies__content.js-accordion-content
								.vacancies__salary от 30 000 – 50 000 руб. на руки
								p Требуемый опыт работы: не требуется
								p Полная занятость, полный день
								.vacancies__box 
									p Профессиональные навыки и компетенции
									ul.list-default 
										li знание оборудования 2А622 и системы ЧПУ;
										li чтение чертежей;
										li знание инструмента и средств измерений;
										li знание допусков и посадок;
										li способность к переналадкам оборудования в условиях мелкосерийного производства
								.vacancies__box
									p Обязанности
									ul.list-default 
										li наладка оборудования;
										li выставка нолей и привязка инструмента;
										li ввод программы в устройство ЧПУ, обкатка в покадровом режиме;
										li выполнение горизонтально-расточных операций согласно тех.процесса;
										li предъявление мастеру и ОТК;
										li содержание оборудования, технологической оснастки, инструмента в чистоте и порядке
								.vacancies__box
									p Условия
									ul.list-default 
										li официальное трудоустройство;
										li социальный пакет;
										li график работы 5/2;
										li служебный транспорт;
										li столовая;
										li медицинский кабинет;
										li тренажерный зал;
										li социальные программы для сотрудников и их детей;
										li Профсоюз;
										li обучение;
										li возможность профессионального развития и карьерный рост
								+button-c('Заполнить анкету по вакансии')
						.vacancies__item.js-accordion-item
							.vacancies__button.js-accordion-button
								p Токарь-универсал
								span Смотреть
							.vacancies__content.js-accordion-content
								.vacancies__salary от 30 000 – 50 000 руб. на руки
								p Требуемый опыт работы: не требуется
								p Полная занятость, полный день
								.vacancies__box 
									p Профессиональные навыки и компетенции
									ul.list-default 
										li знание оборудования 2А622 и системы ЧПУ;
										li чтение чертежей;
										li знание инструмента и средств измерений;
										li знание допусков и посадок;
										li способность к переналадкам оборудования в условиях мелкосерийного производства
								.vacancies__box
									p Условия
									ul.list-default 
										li официальное трудоустройство;
										li социальный пакет;
										li график работы 5/2;
										li служебный транспорт;
										li столовая;
										li медицинский кабинет;
										li тренажерный зал;
										li социальные программы для сотрудников и их детей;
										li Профсоюз;
										li обучение;
										li возможность профессионального развития и карьерный рост
								+button-c('Заполнить анкету по вакансии')
						.vacancies__item.js-accordion-item
							.vacancies__button.js-accordion-button
								p Токарь-универсал (ученик)
								span Смотреть
							.vacancies__content.js-accordion-content
								.vacancies__salary от 30 000 – 50 000 руб. на руки
								p Требуемый опыт работы: не требуется
								p Полная занятость, полный день
								.vacancies__box
									p Условия
									ul.list-default 
										li официальное трудоустройство;
										li социальный пакет;
										li график работы 5/2;
										li служебный транспорт;
										li столовая;
										li медицинский кабинет;
										li тренажерный зал;
										li социальные программы для сотрудников и их детей;
										li Профсоюз;
										li обучение;
										li возможность профессионального развития и карьерный рост
								+button-c('Заполнить анкету по вакансии')
						.vacancies__item.js-accordion-item
							.vacancies__button.js-accordion-button
								p Наладчик автоматов и полуавтоматов (токарная группа)
								span Смотреть
							.vacancies__content.js-accordion-content
								.vacancies__salary от 30 000 – 50 000 руб. на руки
								p Требуемый опыт работы: не требуется
								p Полная занятость, полный день
								.vacancies__box 
									p Профессиональные навыки и компетенции
									ul.list-default 
										li знание оборудования 2А622 и системы ЧПУ;
										li чтение чертежей;
										li знание инструмента и средств измерений;
										li знание допусков и посадок;
										li способность к переналадкам оборудования в условиях мелкосерийного производства
								.vacancies__box
									p Обязанности
									ul.list-default 
										li наладка оборудования;
										li выставка нолей и привязка инструмента;
								.vacancies__box
									p Условия
									ul.list-default 
										li официальное трудоустройство;
										li Профсоюз;
										li обучение;
										li возможность профессионального развития и карьерный рост
								+button-c('Заполнить анкету по вакансии')
						.vacancies__item.js-accordion-item
							.vacancies__button.js-accordion-button
								p Оператор станков с ЧПУ (координатно пробивной станок FinPower)
								span Смотреть
							.vacancies__content.js-accordion-content
								.vacancies__salary от 30 000 – 50 000 руб. на руки
								p Требуемый опыт работы: не требуется
								p Полная занятость, полный день
								.vacancies__box 
									p Профессиональные навыки и компетенции
									ul.list-default 
										li знание оборудования 2А622 и системы ЧПУ;
										li способность к переналадкам оборудования в условиях мелкосерийного производства
								.vacancies__box
									p Обязанности
									ul.list-default 
										li содержание оборудования, технологической оснастки, инструмента в чистоте и порядке
								.vacancies__box
									p Условия
									ul.list-default 
										li официальное трудоустройство;
										li обучение;
										li возможность профессионального развития и карьерный рост
								+button-c('Заполнить анкету по вакансии')
						.vacancies__item.js-accordion-item
							.vacancies__button.js-accordion-button
								p Оператор станков с ЧПУ (токарная группа - модернизированный 16К20)
								span Смотреть
							.vacancies__content.js-accordion-content
								.vacancies__salary от 30 000 – 50 000 руб. на руки
								p Требуемый опыт работы: не требуется
								p Полная занятость, полный день
								.vacancies__box 
									p Профессиональные навыки и компетенции
									ul.list-default 
										li знание оборудования 2А622 и системы ЧПУ;
										li способность к переналадкам оборудования в условиях мелкосерийного производства
								.vacancies__box
									p Обязанности
									ul.list-default 
										li наладка оборудования;
										li содержание оборудования, технологической оснастки, инструмента в чистоте и порядке
								+button-c('Заполнить анкету по вакансии')
	


	include ../../blocks/modules/footer/footer
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")