nav {
	padding-top: 18px;
}
nav ul {
	display: flex;
	align-items: center;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
nav li {
	margin-right: 28px;
	margin-bottom: 0;
	&::before {
		display: none;
	}
	&:last-child {
		margin-right: 0;
	}
}
nav a {
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #183152;
	white-space: nowrap;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		bottom: 0;
		left: auto;
		right: 0;
		display: block;
		width: 0%;
		height: 1px;
		background: #183152;
		transition: 0.3s ease;
	}
	@media (min-width: 992px) {
		&:hover {
			&:before {
				width: 100%;
				right: auto;
				left: 0;
			}
		}
	}
}