nav 
	ul 
		li
			a(class='link' href="#") Новости
		li
			a(class='link' href="#") О предприятии
		li
			a(class='link' href="#") Каталог
		li
			a(class='link' href="#") Оптовым клиентам
		li
			a(class='link' href="#") Индивидуальный заказ
		li
			a(class='link' href="#") Технологии
		li
			a(class='link' href="#") Вакансии
		li
			a(class='link' href="#") Контакты