.downloads
	p.downloads__title Инструкции и сертификаты
	.downloads__items 
		a.downloads__item(href="#" download)
			img(src="./img/icons/download.png", alt="")
			span Инструкция для «Дива-М»<br>(1.2 Мб)
		a.downloads__item(href="#" download)
			img(src="./img/icons/download.png", alt="")
			span Скачать сертификат соответствия<br>(1.8 Мб)