mixin select()
	select.js-choice
		option(value="1") Алтайский край
		option(value="2") Москва
		option(value="3") Московская область
		option(value="4") Ленинградская область
		option(value="5") Краснодарский край
		option(value="6") Алтайский край
		option(value="7") Московская область
		option(value="8") Краснодарский край
		option(value="9") Краснодарский край
		option(value="10") Краснодарский край
		option(value="11") Краснодарский край
		option(value="12") Краснодарский край