.certificates
	h2 Сертификаты
	.certificates__slider.swiper-container
		.swiper-wrapper 
			a(href="./img/certificates/certificates-1.jpg").swiper-slide.glightbox
				img(src="./img/certificates/certificates-1.jpg", alt="")
			a(href="./img/certificates/certificates-2.jpg").swiper-slide.glightbox
				img(src="./img/certificates/certificates-2.jpg", alt="")
			a(href="./img/certificates/certificates-1.jpg").swiper-slide.glightbox
				img(src="./img/certificates/certificates-1.jpg", alt="")
			a(href="./img/certificates/certificates-2.jpg").swiper-slide.glightbox
				img(src="./img/certificates/certificates-2.jpg", alt="")
			a(href="./img/certificates/certificates-1.jpg").swiper-slide.glightbox
				img(src="./img/certificates/certificates-1.jpg", alt="")
			a(href="./img/certificates/certificates-2.jpg").swiper-slide.glightbox
				img(src="./img/certificates/certificates-2.jpg", alt="")
			a(href="./img/certificates/certificates-1.jpg").swiper-slide.glightbox
				img(src="./img/certificates/certificates-1.jpg", alt="")
			a(href="./img/certificates/certificates-2.jpg").swiper-slide.glightbox
				img(src="./img/certificates/certificates-2.jpg", alt="")
		.swiper-button-next
			svg(width='40' height='34' viewbox='0 0 40 34' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M0 17H38M38 17L22.2615 1M38 17L22.2615 33' stroke='white' stroke-width='2')
		.swiper-button-prev
			svg(width='40' height='34' viewbox='0 0 40 34' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M0 17H38M38 17L22.2615 1M38 17L22.2615 33' stroke='white' stroke-width='2')
