.properties
	.properties__item
		span Напряжение питания	
		span 220 В
	.properties__item
		span Потребляемая мощность
		span 230 В
	.properties__item
		span Производительность при приготовлении фарша
		span не менее 30 кг/час
	.properties__item
		span Максимальная мощность
		span 1500 Вт
	.properties__item
		span Режим работы	
		span продолжительный
	.properties__item
		span Масса
		span 2.1 кг
	.properties__item
		span Габаритные размеры	
		span 235×142×210 мм
	.properties__item
		span Гарантия
		span 1 год
	.properties__item
		span Срок службы	
		span 10 лет