.productions 
	h2 Продукция предприятия
	.productions__tabs.js-productions-tabs 
		.productions__content
			.productions__content-item.active-tab#productions-1
				img(src="./img/productions/productions-img-1.jpg", alt="")
			.productions__content-item#productions-2
				img(src="./img/productions/productions-img-2.jpg", alt="")
			.productions__content-item#productions-3
				img(src="./img/productions/productions-img-1.jpg", alt="")
			.productions__content-item#productions-4
				img(src="./img/productions/productions-img-2.jpg", alt="")
			.productions__content-item#productions-5
				img(src="./img/productions/productions-img-1.jpg", alt="")
			.productions__content-item#productions-6
				img(src="./img/productions/productions-img-2.jpg", alt="")
			.productions__content-item#productions-7
				img(src="./img/productions/productions-img-1.jpg", alt="")
		.productions__nav
			a.productions__nav-item.js-productions-tab-btn.hover-this(href="javascript:void(0);" data-productions="productions-1")
				span(data-text="Электросушилки") Электросушилки
			a.productions__nav-item.js-productions-tab-btn.hover-this(href="javascript:void(0);" data-productions="productions-2")
				span(data-text="Мясорубки") Мясорубки
			a.productions__nav-item.js-productions-tab-btn.hover-this(href="javascript:void(0);" data-productions="productions-3")
				span(data-text="Медицинская техника") Медицинская техника
			a.productions__nav-item.js-productions-tab-btn.hover-this(href="javascript:void(0);" data-productions="productions-4")
				span(data-text="Автомобильная продукция") Автомобильная продукция
			a.productions__nav-item.js-productions-tab-btn.hover-this(href="javascript:void(0);" data-productions="productions-5")
				span(data-text="Техника для фермерского хозяйства") Техника для фермерского хозяйства
			a.productions__nav-item.js-productions-tab-btn.hover-this(href="javascript:void(0);" data-productions="productions-6")
				span(data-text="Хозяйственно-бытовые изделия из пластмассы") Хозяйственно-бытовые изделия из пластмассы
			a.productions__nav-item.js-productions-tab-btn.hover-this(href="javascript:void(0);" data-productions="productions-7")
				span(data-text="Спецпродукция") Спецпродукция
			.cursor
