.pagination 
	a.pagination__prev(href="#")
		svg(width='48' height='48' viewbox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M16.75 23.567C16.4167 23.7594 16.4167 24.2406 16.75 24.433L27.25 30.4952C27.5833 30.6876 28 30.4471 28 30.0622L28 17.9378C28 17.5529 27.5833 17.3124 27.25 17.5048L16.75 23.567Z' fill='#183152')
	.pagination__items
		a.pagination__item(href="#") 1
		a.pagination__item.active(href="#") 2
		a.pagination__item(href="#") 3
		a.pagination__item(href="#") 4
		a.pagination__item(href="#") 5
		a.pagination__item(href="#") 6
	a.pagination__next(href="#")
		svg(width='48' height='48' viewbox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M31.25 23.567C31.5833 23.7594 31.5833 24.2406 31.25 24.433L20.75 30.4952C20.4167 30.6876 20 30.4471 20 30.0622L20 17.9378C20 17.5529 20.4167 17.3124 20.75 17.5048L31.25 23.567Z' fill='#183152')
