footer  
	.footer 
		.footer_t
			.container
				.footer_t-wrapper
					.footer-box.js-footer-box
						p О предприятии
							span
								svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
									circle(cx='16' cy='16' r='16' fill='#ABC8E2' fill-opacity='0.8')
									path(d='M10 14L16 20L22 14' stroke='#375D81' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
						ul 
							li
								a(href="#") История завода
							li
								a(href="#") Награды
							li
								a(href="#") Галерея почета
							li
								a(href="#") Профсоюзная организация
							li
								a(href="#") География продаж
							li
								a(href="#") Партнерам
							li
								a(href="#") Закупки
							li
								a(href="#") Вакансии
							li
								a(href="#") Антикорупционная политика
							li
								a(href="#") Перечень непрофильных активов
					.footer-box.js-footer-box 
						p Каталог
							span
								svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
									circle(cx='16' cy='16' r='16' fill='#ABC8E2' fill-opacity='0.8')
									path(d='M10 14L16 20L22 14' stroke='#375D81' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
						ul 
							li
								a(href="#") Мясорубки
							li
								a(href="#") Электросушилки
							li
								a(href="#") Техника для фермерского хозяйства
							li
								a(href="#") Медицинская техника
							li
								a(href="#") Автомобильная продукция
							li
								a(href="#") Изделия из пластмассы
							li
								a(href="#") Спецпродукция

					.footer-box.js-footer-box 
						p Покупателям
							span
								svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
									circle(cx='16' cy='16' r='16' fill='#ABC8E2' fill-opacity='0.8')
									path(d='M10 14L16 20L22 14' stroke='#375D81' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
						ul 
							li
								a(href="#") Новости
							li
								a(href="#") Контакты
							li
								a(href="#") Технологии
							li
								a(href="#") Услуги
							li
								a(href="#") Сервисные центры
							li
								a(href="#") Доставка и оплата
							li
								a(href="#") Оптовым клиентам
							li
								a(href="#") Акционерам
					.footer-box.js-footer-box 
						p Контакты
							span
								svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
									circle(cx='16' cy='16' r='16' fill='#ABC8E2' fill-opacity='0.8')
									path(d='M10 14L16 20L22 14' stroke='#375D81' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round')
						ul.footer-list
							li 
								svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M12.6673 6.66667C12.6673 9.80133 9.80137 12.5266 8.56136 13.559C8.23299 13.8324 7.76831 13.8324 7.43994 13.559C6.19993 12.5266 3.33398 9.80133 3.33398 6.66667C3.33398 4.08934 5.42332 2 8.00065 2C10.578 2 12.6673 4.08934 12.6673 6.66667Z' stroke='#ABC8E2' stroke-width='1.5')
									ellipse(cx='8' cy='6.6665' rx='2' ry='2' stroke='#ABC8E2' stroke-width='1.5')
								span Лесной тракт, 63, Барнаул, Алтайский край, 656906
							li 
								svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M10.7439 10.4534L10.3315 11.072C10.2492 11.1954 10.1403 11.3008 9.99687 11.3387C9.52692 11.4629 8.27927 11.519 6.37975 9.61945C4.48023 7.71994 4.5363 6.47227 4.66047 6.00232C4.69839 5.85885 4.80374 5.74998 4.92721 5.66767L5.54581 5.25527C6.00637 4.94822 6.13083 4.32596 5.82379 3.8654L4.65546 2.11291C4.38746 1.71091 3.87081 1.55733 3.42674 1.74765L2.8997 1.97352C2.49933 2.14511 2.17274 2.45305 1.97794 2.84265C1.81519 3.16815 1.68905 3.51092 1.67196 3.87443C1.6181 5.02002 1.86929 7.8424 5.01305 10.9862C8.15681 14.1299 10.9792 14.3811 12.1248 14.3272C12.4883 14.3101 12.831 14.184 13.1565 14.0212C13.5461 13.8264 13.8541 13.4999 14.0257 13.0995L14.2515 12.5724C14.4419 12.1284 14.2883 11.6117 13.8863 11.3437L12.1338 10.1754C11.6732 9.86836 11.051 9.99281 10.7439 10.4534Z' fill='#ABC8E2')
								a.footer-phone(href="tel:+8(3852)57-94-20") 8 (3852) 57-94-20
							li 
								svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M12.6218 2.5H3.37818C3.02673 2.5 2.851 2.5 2.70492 2.52931C2.11186 2.6483 1.6483 3.11186 1.52931 3.70492C1.5 3.851 1.5 4.02673 1.5 4.37818C1.5 4.59674 1.5 4.70603 1.5138 4.80705C1.56904 5.21151 1.78674 5.57598 2.11666 5.81638C2.19907 5.87642 2.29529 5.92823 2.48773 6.03185L2.48773 6.03186L6.86216 8.38732L6.86216 8.38732C7.27806 8.61126 7.486 8.72323 7.70556 8.76718C7.89993 8.80609 8.10007 8.80609 8.29444 8.76718C8.514 8.72323 8.72195 8.61126 9.13784 8.38732L13.5123 6.03186L13.5123 6.03185C13.7047 5.92823 13.8009 5.87642 13.8833 5.81638C14.2133 5.57598 14.431 5.21151 14.4862 4.80705C14.5 4.70603 14.5 4.59674 14.5 4.37818C14.5 4.02673 14.5 3.851 14.4707 3.70492C14.3517 3.11186 13.8881 2.6483 13.2951 2.52931C13.149 2.5 12.9733 2.5 12.6218 2.5Z' stroke='#ABC8E2' stroke-width='1.5')
									path(d='M14 6V11.1C14 11.9401 14 12.3601 13.8365 12.681C13.6927 12.9632 13.4632 13.1927 13.181 13.3365C12.8601 13.5 12.4401 13.5 11.6 13.5H4.4C3.55992 13.5 3.13988 13.5 2.81901 13.3365C2.53677 13.1927 2.3073 12.9632 2.16349 12.681C2 12.3601 2 11.9401 2 11.1V6' stroke='#ABC8E2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
								a.footer-mail(href="mailto:om@apzrotor.ru") om@apzrotor.ru

		.footer_b
			.container
				.footer_b-wrapper
					.copyright 
						span © 2021 АО «Ротор». Все права защищены
						a(href="#") Пользовательское соглашение
					.dev 
						span Разработка сайта –
						a(href="www.letsrock.pro")
							svg(width='100' height='21' viewbox='0 0 100 21' fill='none' xmlns='http://www.w3.org/2000/svg')
								g(clip-path='url(#dev)')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M20.3697 16.6459C21.4614 13.3353 22.4974 11.1534 23.6161 7.9853C24.0072 6.88482 24.3433 6.25603 24.2229 5.64093C24.0262 4.6349 23.332 4.34525 22.6402 5.22841C22.5301 5.36904 22.4269 5.52211 22.3339 5.66916C21.9005 6.3543 21.5415 7.04153 21.0743 7.8315C19.6395 10.2577 18.5327 13.4173 17.807 14.4988C16.8102 15.9843 15.4514 15.7022 15.0296 14.2077C13.9286 14.9713 12.5906 14.1538 12.636 12.7656C12.6755 11.5643 13.0089 10.0042 13.1848 8.77401C13.4035 7.24348 13.8355 3.37668 13.8013 1.26468C13.7974 1.02007 13.7729 0.807325 13.7098 0.633289C13.4519 -0.079156 12.6982 -0.181274 12.0632 0.247021C11.6858 0.50149 11.4043 1.01769 11.2281 1.66588C10.9604 2.65044 10.8525 3.69466 10.7245 4.73744C10.6406 5.42061 9.44457 11.6432 9.17085 12.1688C8.29613 13.8484 5.2633 10.9961 3.00153 10.3716C0.533282 9.68997 -1.02812 10.9197 0.803455 11.9858C2.05481 12.714 6.12165 15.7969 7.13937 16.842C7.38303 17.0922 7.44748 17.1101 7.6852 17.3324C8.04331 17.6671 8.28611 17.9899 8.65218 18.3123C10.9399 20.3271 14.9624 21.2644 17.978 19.7584C18.5894 19.4531 18.7541 19.3139 19.1867 18.8817C19.9035 18.1658 20.0725 17.547 20.3697 16.6459Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M63.505 11.9291L64.5017 7.24523C65.949 7.21306 68.3429 6.84724 67.2878 9.90083C66.5332 12.0842 65.1031 11.946 63.505 11.9291ZM58.2773 20.4892L61.5775 20.4932L62.9357 14.4118C64.7483 14.1929 64.7985 15.4065 65.0679 16.7299L65.8076 20.4951L69.1399 20.4861L68.3291 16.6331C68.1322 15.6971 67.7085 14.9134 67.3447 14.5544C67.1254 14.3379 66.9161 14.2126 66.6607 14.0406C67.1907 13.7225 67.6033 13.5845 68.0261 13.3444C68.7096 12.9562 69.3451 12.4245 69.9864 11.3554C70.7657 10.0565 71.1605 8.04537 70.3704 6.54763C69.5768 5.04315 68.3147 4.72912 66.0256 4.73026C63.9504 4.73129 61.8726 4.71967 59.7979 4.73306L59.2971 7.2223L61.0872 7.23527L58.2773 20.4892Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M89.2207 20.4973L92.1241 20.4924L93.1561 16.082C94.4116 15.9752 94.5407 16.6135 94.8025 17.8913L95.3364 20.4972L98.3724 20.4689L97.9513 18.4773C97.4963 16.6028 97.6896 16.2738 96.5237 15.086L99.9974 10.2619L96.8615 10.2824C96.0787 11.305 95.3997 12.5602 94.6971 13.6035L93.7243 13.6155C93.6646 12.735 95.3303 6.4855 95.5794 4.72998L90.7429 4.73413L90.2831 7.23479L92.0238 7.23686C91.7343 9.33662 89.2344 19.4215 89.2207 20.4973Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M24.6094 20.5001L33.0132 20.4711L33.6363 17.8631L33.9003 16.3842L31.1667 16.3851L30.8137 17.9869L28.6277 17.9889L31.4799 4.72852L26.2385 4.77915L25.6119 7.23456L27.5352 7.23166L24.6094 20.5001Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M73.1164 17.3521C72.9377 16.7054 73.0439 15.9988 73.2946 15.051C73.5596 14.05 74.3439 12.3606 75.6606 12.7688C76.6793 13.0846 76.7441 16.0143 75.6578 17.5597C74.8191 18.7531 73.5564 18.9448 73.1164 17.3521ZM72.199 20.7403C72.4533 20.8345 72.7609 20.9119 73.1655 20.9517C75.8432 21.2155 77.3662 19.8752 78.1834 18.8433C78.9388 17.8894 79.0579 17.5444 79.3675 16.4054C79.7962 14.8294 80.061 13.0354 79.034 11.7093C77.9386 10.2952 75.7397 9.81989 73.6432 10.6675C72.0062 11.3294 70.8068 12.6652 70.2001 14.4944C69.8919 15.4235 69.7009 16.5302 69.8032 17.5674C69.9519 19.0755 70.713 20.19 72.199 20.7403Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M38.0369 15.3133C38.1903 14.2144 38.7409 12.989 39.785 12.7799C40.6279 12.6114 40.8859 13.1821 40.7682 13.8731C40.7165 14.1773 40.5523 14.4699 40.2778 14.7312C39.7708 15.2138 38.9875 15.3516 38.0369 15.3133ZM34.9412 18.9557C35.0616 19.2561 35.2005 19.4803 35.5939 19.8996C37.5667 22.0014 40.8121 20.55 42.3353 20.0413L41.8479 17.9062C40.4796 18.3627 38.4776 19.3221 37.9368 17.3453C40.1879 17.5101 42.1841 16.838 43.2888 14.9565C46.07 10.2195 39.1374 8.53777 36.1756 12.3167C35.1334 13.6463 34.5936 15.0373 34.5733 16.8607C34.5637 17.7269 34.6183 18.1498 34.9412 18.9557Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M51.3156 12.3134C51.0237 12.8969 50.722 13.6953 50.9819 14.6394C51.4441 16.3189 53.9718 16.566 54.2801 17.3244C54.8652 18.7636 52.1392 18.9347 50.5748 17.7504L50.2018 18.3036C50.1164 18.4991 50.0658 18.6503 49.9804 18.8525C49.829 19.2111 49.685 19.5682 49.5156 19.8731C50.3322 20.8729 52.8339 21.1531 54.4188 20.826C56.3305 20.4314 57.4298 18.9428 57.5154 17.1169C57.5545 16.288 57.3741 15.8582 56.611 15.2038C55.9391 14.6276 55.1615 14.467 54.5581 14.078C54.2124 13.8556 54.1221 13.7973 54.1529 13.3972C54.2094 12.6611 54.8098 12.6926 55.743 12.7211L55.545 13.8139L57.6751 13.8034L59.075 9.66797L56.4477 9.68965L56.327 10.3076C55.0113 10.2434 53.5364 10.2546 52.4506 10.9926C51.8154 11.4245 51.6514 11.6417 51.3156 12.3134Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M81.6309 20.138C81.9272 20.3872 82.3437 20.6224 82.9587 20.8026C83.6464 21.0041 84.4672 21.0212 85.2202 20.9272C85.7274 20.8638 86.0976 20.7702 86.4274 20.684C86.8376 20.5766 87.1761 20.451 87.6009 20.2796C87.7684 20.2122 87.9492 20.1376 88.1532 20.0541L87.6549 17.9302C86.6953 18.2144 83.3194 19.8872 83.679 16.1083C83.8858 13.9361 84.6011 12.4942 87.0866 12.7794L86.9039 13.8155L89.0255 13.7931L90.4306 9.67145L87.8429 9.67041L87.6431 10.3849C84.6746 10.1106 83.0732 10.8989 81.797 12.5338C80.7794 13.8372 80.3099 15.7301 80.4586 17.6321C80.532 18.5724 80.8663 19.495 81.6309 20.138Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M44.2012 20.5001L47.0874 20.5055L48.7817 12.7025L50.3835 12.7131L51.2059 10.3022L49.3376 10.3044L49.9731 7.23538L47.4163 7.23486L46.4486 10.303L44.9282 10.3014L44.4308 12.7006L45.7371 12.6942L44.2012 20.5001Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M15.1615 12.9885C15.7139 11.8368 16.1051 10.1614 16.2376 9.10947C16.3672 8.08092 16.0621 7.67224 14.9399 7.48564C14.6374 7.43541 14.3315 7.47454 14.0623 7.6737C13.6531 7.97787 13.6899 8.51409 13.5461 9.39341C13.2453 11.2342 12.6724 13.1864 13.4869 13.8224C14.3426 14.4905 14.8411 13.6563 15.1615 12.9885Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M17.4735 14.0752C18.3798 12.6542 19.4992 10.1583 18.9212 9.32376C18.4628 8.66186 17.1635 8.31348 16.7761 9.37109C16.4705 10.2055 16.1839 11.4811 15.9578 12.2103C15.7165 12.9884 15.3176 14.0339 15.6507 14.5785C16.2395 15.5415 17.1019 14.6579 17.4735 14.0752Z' fill='#375D81')
									path(fill-rule='evenodd' clip-rule='evenodd' d='M51.1055 8.8676L53.1901 8.86013L54.692 4.74291L51.9932 4.729L51.1055 8.8676Z' fill='#375D81')
								defs
								clippath#dev
									rect(width='100' height='21' fill='white')
